<%= form_for @article, :html => { :id => :article_form } do |f| %>
		
		<%= format_error_message(@article, :title) %>
		<%= f.text_field :title, :class => :title, :placeholder => 'Add title' %>
		<%= format_error_message(@article, :content) %>
		<%= f.text_area :content, :class => :text,  :placeholder => 'Create your text' %>
	 	
		<%= f.password_field :password, :class => :article_password, :placeholder => "Add password to edit the page" %>
		<%= format_error_message(@article, :password) %>
		
		<div>
			<label id="private_label" for="private">&nbsp;</label>
			<%= f.check_box :isPrivate,  :class =>:private, :title => "Check to make your page private" %>				
			<%= f.submit "Create the Page", :class => :create %>	
		</div>
<% end %>