<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>writi.ca &mdash; publish elegant pages</title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
		
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
		
  		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag 'jquery.min' %>
		<%= javascript_include_tag 'jquery_ujs' %>
		<%= javascript_include_tag 'application' %>  		
  		<%= csrf_meta_tag %>
</head>
<body>
	<header id="header">
		<hgroup>
			<h1>
				<%= link_to "writi.ca", root_path %>
			</h1>
			<h2>&mdash; publish elegant pages</h2>
		</hgroup>
	</header>
	<section id="body">
		<%= yield %>
	</section>
		
	<footer id="footer">
		<% if content_for?(:footer) %>
		  <%= yield(:footer) %>
		<% else %>
			Copyright Writi.ca 2011 - <a href="http://twitter.com/#!/WritiCa" target="_blank">Follow us on Twitter</a>
		<% end %>
	</footer>
</body>
</html>
